<!-- 
  * @autor: Daiane Alves dos Santos <daianealves_@hotmail.com>
  * Formulário de Cadastro de Consumidor
-->
<div class="section">

  <div class="row">
    <div class="col s12 offset-l1 l10">
      <div class="chip green lighten-4">
        Cadastro realizado com sucesso!
        <i class="close material-icons">close</i>
      </div>
    </div>
  </div>

  <div [hidden]="submitted" class="row">
    <div class="col s12">

      <form #consumidorForm="ngForm" (ngSubmit)="onSubmit()">

        <div class="card-panel hoverable">
          
          <div class="row">
            <div class="col">
              <span class="card-title">  {{ 'form-contratante.p_titulo' | translate }} </span>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 l6">
              <i class="material-icons prefix">account_circle</i>
              <input  type="text" 
                      id="nome" 
                      name="nome" 
                      maxlength="10"
                      minlength="4" 
                      [(ngModel)]="consumidor.nome"
                      required>
              <label for="nome">  {{ 'form-contratante.lb_nome' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.nome">
                {{ formErrors.nome }}
              </div>
            </div>
            <div class="input-field col s12 l6">
              <i class="material-icons prefix">phone</i>
              <input  type="text" 
                      id="sobrenome" 
                      name="sobrenome" 
                      maxlength="200" 
                      minlength="4"
                      [(ngModel)]="consumidor.sobrenome"
                      required>
              <label for="sobrenome">  {{ 'form-contratante.lb_sobrenome' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.sobrenome">
                {{ formErrors.sobrenome }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 l5">
              <i class="material-icons prefix">phone</i>
              <select materialize="material_select">
                  <option value="" disabled selected>Selecione</option>
                  <option value="1">Celular</option>
                  <option value="2">Fixo</option>
                  <option value="3">Ramal</option>
                  <option value="4">Recado</option>
                </select>
              <label>  {{ 'form-contratante.lb_tipo_telefone' | translate }} </label>
            </div>
            <div class="input-field col s12 l3">
              <i class="material-icons prefix">phone</i>
              <input  type="text" 
                      id="ddd" 
                      name="ddd" 
                      placeholder="(99)" 
                      [(ngModel)]="consumidor.ddd" 
                      generic-mask="(19)"
                      required>
              <label for="ddd">  {{ 'form-contratante.lb_ddd' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.ddd">
                {{ formErrors.ddd }}
              </div>
            </div>
            <div class="input-field col s12 l4">
              <i class="material-icons prefix">phone</i>
              <input  type="text" 
                      id="numero_telefone" 
                      name="numero_telefone" 
                      placeholder="9999-9999" 
                      [(ngModel)]="consumidor.numero_telefone" 
                      generic-mask="9999-9999"
                      required>
              <label for="telefone"> {{ 'form-contratante.lb_numero_telefone' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.numero_telefone">
                {{ formErrors.numero_telefone }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 l12">
              <i class="material-icons prefix">account_circle</i>
              <input  type="text" 
                      id="email" 
                      name="email" 
                      maxlength="200"
                      minlength="4" 
                      [(ngModel)]="consumidor.email"
                      required>
              <label for="email">  {{ 'form-contratante.lb_email' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.email">
                {{ formErrors.email }}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 l6">
              <i class="material-icons prefix">account_circle</i>
              <input  type="text" 
                      id="senha" 
                      name="senha"
                      maxlength="20"
                      minlength="4" 
                      [(ngModel)]="consumidor.senha"
                      required>
              <label for="senha">  {{ 'form-contratante.lb_senha' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.senha">
                {{ formErrors.senha }}
              </div>
            </div>
            <div class="input-field col s12 l6">
              <i class="material-icons prefix">account_circle</i>
              <input  type="text" 
                      id="senha_confirma" 
                      name="senha_confirma" 
                      maxlength="20"
                      minlength="4" 
                      [(ngModel)]="consumidor.senha_confirma"
                      required>
              <label for="senha_confirma">  {{ 'form-contratante.lb_senha_confirma' | translate }} </label>
              <div class="col offset-s1 red-text" *ngIf="formErrors.senha_confirma">
                {{ formErrors.senha_confirma }}
              </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" [disabled]="!consumidorForm.form.valid">
              Submit<i class="material-icons right">send</i>
            </button>

          </div>
        </div>

      </form>

    </div>

  </div>
</div>