<!-- Inputs tipo telefone, ddd, numero telefone -->
<div class="row">
  <div class="input-field col s12 l5">
    <i class="material-icons prefix">phone</i>
    <select materialize="material_select">
                    <option value="" disabled selected>Selecione</option>
                    <option value="1">Celular</option>
                    <option value="2">Fixo</option>
                    <option value="3">Ramal</option>
                    <option value="4">Recado</option>
                  </select>
    <label>Tipo de telefone</label>
  </div>
  <div class="input-field col s12 l2">
    <i class="material-icons prefix">phone</i>
    <input  type="text" 
            id="txt_ddd" 
            name="txt_ddd" 
            maxlength="4" 
            placeholder="(99)" 
            [(ngModel)]="telefone.ddd_fone"
            generic-mask="(19)">
    <label for="txt_ddd">DDD</label>
  </div>
  <div class="input-field col s12 l5">
    <i class="material-icons prefix">phone</i>
    <input  type="text" 
            id="txt_telefone" 
            name="txt_telefone" 
            maxlength="9" 
            placeholder="9999-9999" 
            [(ngModel)]="telefone.numero_fone"
            generic-mask="9999-9999">
    <label for="txt_telefone">Telefone</label>
  </div>
</div>
<!-- Fim inputs tipo telefone, ddd, numero telefone -->